//pages [splash]
#splash {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.5px;

    .content {
        text-align: center;
        width: 100%;
        height: auto;
        padding: 0 2.4rem;

        .text {
            font-size: 1.8rem;
            line-height: 1.7;
            font-weight: 400;
            margin-top: 2.5rem;

            >strong {
                display: inline-block;
                background: #2FC89C;
                color: #fff;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 1;
                padding: 4px 4px;
                letter-spacing: -0.05em;

            }
        }
    }
}



#main {
    height: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 115px 0 0 0;
    margin-top: 67px;
    padding-bottom: 2rem;

    .content {
        background: url('../images/bg_main.png') no-repeat center bottom/ cover;
        // height: 100%;
        //min-height: calc(100vh - 200px);
        padding-bottom: 113px;
        height: auto;


        padding-top: 9.4rem;

    }

    .main-title {
        font-size: 3.6rem;
        letter-spacing: -0.01em;
        color: #fff;
        font-weight: 700;
        padding-left: 34px;
        line-height: 1.2;

        i {
            display: block;
            font-weight: 300;
        }
    }

    .main-btns {
        margin-top: 69px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 16px;

        >a {
            display: block;
            background: #fff;
            width: 33.3333%;
            text-align: center;
            color: $color-primary-txt;
            padding-top: 17px;
            padding-bottom: 13px;
            height: 110px;
            box-shadow: 0 16px 32px rgba($color: #302727, $alpha: 0.6);

            .icon {
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                @include push--auto;

            }

            strong {
                display: block;
                font-weight: 700;
                letter-spacing: -0.05em;
                margin-top: 7px;
            }
        }

        .main-btn--review {
            border-radius: 0 26px 0 26px;

            .icon {
                width: 54px;
                height: 51px;
                background-image: url('../images/ic_main_review.svg');
            }
        }

        .main-btn--simulate {
            margin-top: 110px;
            border-radius: 0 0 26px 26px;

            .icon {
                width: 40px;
                height: 50px;
                background-image: url('../images/ic_main_simul.svg');
                margin-top: 2px;
                transform: translateX(6px);
            }
        }

        .main-btn--company {
            border-radius: 26px 0 26px 0;

            .icon {
                width: 38px;
                height: 51px;
                background-image: url('../images/ic_main_company.svg');
            }
        }
    }
}

//회원가입동의
.check-agree {
    background: #F4F4F4;
    margin-left: -24px;
    margin-right: -24px;
    padding: 12px 24px 12px 27px;
    margin-top: 9px;
    font-size: 1.2rem;
    color: #707070;

    &.agree-details {
        padding: 2.4rem;
        margin-top: 5rem;

        .check-container {
            color: #707070;
            font-size: 1.2rem;

            .checkmark {
                top: 0;
            }
        }
    }
}

//자동로그인
.check-auto {
    margin-top: 56px;
    margin-left: 2px;
}

//로봇이 아닙니다.
.check-robot {
    background: #F4F4F4;
    margin-top: 20px;
    margin-left: -24px;
    margin-right: -24px;
    padding: 21px 24px 19px 27px;
}


//회원가입, 로그인페이지의 버튼영역 
.btn-area {
    margin-top: 24px;
    text-align: center;

    .btn-confirm {
        width: 91%;
        height: 55px;
        line-height: 55px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    }

    .btn-login {
        display: block;
        height: 56px;
        line-height: 56px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    }

    &.type-simulate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;

        [class *='btn-'] {

            height: 48px;
            line-height: 48px;
            width: 47.5%;
            margin: 0;
            box-shadow: 0 4px 6px rgba($color: #000000, $alpha: 0.16);
        }
    }


    &.type-modify {
        margin-top: 47px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        [class *='btn-'] {
            height: 48px;
            line-height: 48px;
            font-size: 1.8rem;
            width: 47.5%;
            margin: 0
        }
    }
}

//비밀번호찾기, 아이디찾기 헬프영역 
.login-help {
    margin-top: 38px;

    a {
        margin-bottom: 13px;
    }
}

//SNS로그인 버튼

.btn-login-sns {
    width: 100%;

    margin-top: 18px;
    display: block;
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    height: 55px;
    padding-top: 15px;
    padding-left: 84px;
    border-radius: 55px;

    &::before {
        content: '';
        width: 70px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 0;
        top: 0;
    }

    &--kakao {
        background: #F8E800;
        color: #391B1B;
        border: 1px solid #F1E958;

        &::before {
            background-image: url('../images/ic_kakao.svg');
            background-position-x: 27px;
        }
    }

    &--naver {
        background: #03CF5D;
        border: 1px solid #04C75A;
        color: #fff;
        font-weight: 900;

        &::before {
            background-image: url('../images/ic_naver.svg');
            border-right: 1px solid #04C75A;
            background-position-x: 30px;
        }
    }
}

.content-view {
    padding-left: 24px;
    padding-right: 24px;

    // .content-inner {
    //     padding-top: 27px !important;
    // }
}

.content-join {
    padding-left: 24px;
    padding-right: 24px;

    .content-inner {
        padding-top: 27px !important;
    }
}

.content-login {
    padding-left: 24px;
    padding-right: 24px;

    .btn-area {
        margin-top: 12px;
    }

    .content-inner {
        padding-top: 27px !important;

        &-pt4 {
            padding-top: 46px !important;
        }
    }

}


.content-modify {
    padding-left: 24px;
    padding-right: 24px;
}


.content-find {
    padding-left: 24px;
    padding-right: 24px;

    .content-inner {
        padding-top: 6px;
    }

    form {
        margin-top: 18px;
    }
}


.content-mypage {
    .content-inner {
        height: 100%;
        padding-top: 0;
    }

    .mypage-user {
        width: 100%;
        padding-left: 36px;
        display: flex;
        align-items: center;
        padding-top: 50px;
        background-color: #fff;
        border-radius: 110px 0 0 0;
        padding-bottom: 5rem;

        .thumb {
            width: 95px;
        }

        .info {
            width: calc(100% - 95px);
            padding-left: 9px;
            padding-top: 6px;
        }

        .info_username {
            font-size: 2.4rem;
            font-weight: 400;

            >strong {
                font-weight: 500
            }
        }

        .info-btns {
            margin-top: 31px;

            [class *='btn-'] {
                height: 33px;
                line-height: 33px;
                padding: 0 12px;
                font-size: 1.4rem;
                font-weight: 500;
                display: inline-block;
            }

            .btn-modify {
                color: #707070;
                border: 1px solid #BCBCBC;
                border-radius: 40px;
            }
        }
    }


}

.content-simulate {

    .bg-wavebox {
        margin-top: 8px;
    }

    .content-inner {
        padding: 0;
    }

    .new-simulate {
        background-color: #fff;
        padding-bottom: 50px;
        padding-top: 36px;
        border-radius: 110px 0 0 0;
    }

    .new-simulate {
        text-align: center;
        //margin-top: 1rem;
        position: relative;
        z-index: 2;

        .btn {
            position: relative;
            display: inline-block;
            margin-top: 1rem;
        }

        .btn-start-simulate {
            position: absolute;
            right: -53px;
            bottom: -65px;
            width: 204px;
            height: 225px;
            background: url('../images/simulate_start_btn.png') no-repeat center;
        }
    }
}

.content-simulate2 {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 36px;



}


.info-confirmation {
    .info-step {
        margin-top: 2.5rem;
        letter-spacing: -0.05em;
    }

    .info-step_title {
        position: relative;

        p {
            font-size: 1.8rem;
            color: #314057;
            font-weight: 700;
            padding-left: 57px;
            position: relative;
            background: #fff;
            z-index: 1;
            display: inline-block;
            padding-right: 1.6rem;

            >span {
                width: 45px;
                height: 16px;
                color: #fff;
                background: #E0857D;
                border-radius: 4px;
                text-align: center;
                @include squareEB;
                display: block;
                position: absolute;
                left: 0;
                top: 5px;
                letter-spacing: -0.05em;
                font-size: 1.2rem;
            }
        }

        &::after {
            content: '';
            background: #707070;
            height: 1px;
            width: 100%;
            top: 50%;
            position: absolute;
            right: 0;
        }



    }

    .info-step_detail {
        margin-top: 10px;
    }

    &--result {
        margin-top: -2rem;

        .info-step_title p {
            padding-left: 0;
        }
    }
}

.result-box {
    border: 3px solid #73D6A1;
    background: #F7FDF4;
    font-size: 1.6rem;
    text-align: center;
    padding: 16px 16px 13px 16px;
    color: #314057;

    .info {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: 1px;
        background: url('../images/ic_info.svg') no-repeat center;
    }

    .result-text {
        margin-top: 10px;

        >strong {
            font-weight: 700;
            font-size: 2.8rem;
        }
    }


    &--yearcost {
        background-color:#FFF6F0; 
        border: 3px solid #FFB789;
        
        .yearcost-select{
             width: 165px; 
             @include push--auto;
             margin-top:1.5rem; 
            }
    }
}

.content-simulate3 {

    padding-left: 24px;
    padding-right: 24px;

    .client-name {
        background: #f2f2f2;
        margin-top: 27px;
        margin-left: -25px;
        margin-right: -25px;
        padding: 14px 20px 25px 23px;
        border: 1px solid rgba($color: #707070, $alpha: 0.3);
    }

    .form-container {
        margin-top: 34px;
    }

    .btn-area {
        margin-top: 3rem;

        .btn-start {
            width: 202px;
            height: 48px;
            line-height: 48px;
        }
    }

    .simulate-checkbox {

        font-size: 1.8rem;
        font-weight: 500;
        padding-left: 63px;
        height: 93px;
        color: #326D8F;
        display: block;
        display: flex;
        align-items: center;
        
        position: relative;
        margin-top: 0;
        background: #F7FCFE;
        margin-top: 1.7rem;


        &.mt-20 {
            margin-top: 2rem;
        }

        .checkmark {
            width: 20px;
            height: 20px;
            border: 1px solid #1485AD;
            border-color: rgba($color: #1485AD, $alpha: 0.3);
            left: 22px;
            top: 17px;
            top: 50%; 
            margin-top: -10px;

            &::after {
                width: 20px;
                height: 20px;
                background-size: 15px;
                background-image: url('../images/checkmark_blue.svg');

            }
        }

        input~.border {
            border: 2px solid rgba($color: #1485AD, $alpha: 0.3);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        input:checked {

            &~.checkmark {
                border-color: rgba($color: #1485AD, $alpha: 1);
            }

            &~.border {
                border: 2px solid rgba($color: #1485AD, $alpha: 1);
            }
        }

        &--red {

            background: rgba($color: #E0857D, $alpha: 0.1);
            color: #DB7A72;

            input {
                &~.border {
                    border: 2px solid rgba($color: #E0857D, $alpha: 0.5);
                }

                &~.checkmark {
                    border-color: rgba($color: #ECB6B0, $alpha: 1);
                }


            }

            input:checked {

                &~.checkmark {
                    border-color: #E0857D;

                    &::after {
                        background-image: url('../images/checkmark_pink.svg');
                    }
                }

                &~.border {
                    border: 2px solid rgba($color: #E0857D, $alpha: 1);
                }
            }
        }
    }
}

.product-select-part {
    position: relative;

    svg {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
    }

    img {
        width: 100%;
    }
}


.airloss-count {
    background: #E69D97;
    text-align: center;
    border-radius: 40px;
    color: #fff;
    margin-top: 13px;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;
    margin: 13px 15px 0 15px;


    p {
        line-height: 1;

        &:nth-child(1) {
            margin-bottom: 5px;
        }
    }

    strong {
        font-size: 2.8rem;
        font-weight: 700;
    }
}

.count-sum {
    color: #E0857D;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 5px;
}

.compare-airloss {
    border: 3px solid #73D6A1;
    background: #F7FDF4;
    padding-bottom: 11px;

    .tit {
        border-bottom: 1px solid #73D6A1;
        color: #333333;
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
        padding: 8px 10px 6px 10px;
    }

    .compare-item {
        margin-top: 1.6rem;
        text-align: center;

        &:not(:first-of-type) {
            margin-top: 1.1rem;
        }

        .type {
            color: #1A9553;
            display: block;
            font-size: 1.4rem;
            font-weight: 500;
        }

        .value {
            color: #314057;
            font-size: 2.6rem;
            font-weight: 700;
            padding-left: 30px;
            position: relative;
            display: inline-block;
        }

        .ic-decrease {
            position: absolute;
            width: 20px;
            height: 20px;
            background: url('../images/ic_arrow_descrease.png') no-repeat;
            left: 0;
            top: 9px;
        }
    }
}


.prd-list {
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 7rem;

    .prd-list-item {
        width: 47%;
        text-align: center;
        margin-bottom: 2.4rem;
    }

    .prd-list-item_thumb {
        border: 1px solid rgba($color: #707070, $alpha: 0.2);
        border-radius: 4px;
        width: 145px;
        height: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .prd-list-item_title {
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;
        margin-top: 7px;
        letter-spacing: -0.05em;
        // @include ellipse(100%); 
        // height: 42px;
        // max-width: 100%;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }

    &.imported {
        .prd-list-item_title {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            max-height: 42px;
            height: 42px;
            //text-align: left;
            word-break: keep-all;

        }
    }
}



.prd-view {
    padding-bottom: 6rem;

    figure {
        margin: 0 0 6rem 0;
    }

    .prd-thumb {
        text-align: center;
    }

    .prd-name {
        color: #326D8F;
        font-weight: 700;
        font-size: 1.6rem;
        display: block;
    }

    .prd-desc {
        margin-top: 12px;

        &_col {
            border-bottom: 1px solid #E2E2E2;
            display: flex;
            align-items: center;
            letter-spacing: -0.06em;
            padding: 9px 0 9px 5px;
            width: 100%;
            font-size: 1.4rem;


            >strong {
                font-weight: 500;
                width: 105px;
                padding-right: 10px;
                word-break: keep-all;
            }

            >p {
                width: calc(100% - 110px);
                padding-left: 8px;
                font-weight: 400;
                
            }

            &:first-child {
                border-top: 2px solid #B5B5B5;
            }

            &:last-child {
                border-bottom: 2px solid #B5B5B5;
            }
        }
    }
}

.member-quit {

    .icon-quit {
        width: 80px;
        height: 80px;
        display: block;
        background: url('../images/ic_alert.svg') no-repeat center;
        @include push--auto
    }

    >strong {
        display: block;
        margin-top: 15px;
        text-align: center;
        color: #314057;
        font-size: 2rem;
        font-weight: 700;
    }

    .btn-area {
        margin-top: 3.5rem;

        [class *='btn'] {
            width: 148px;
            height: 48px;
            line-height: 48px;
        }
    }
}

.join-complete {
    &-img {
        text-align: center;

        >strong {
            display: block;
            font-size: 3.4rem;
            font-weight: 700;
            color: #0F6E8D;
            letter-spacing: -0.04em;
            margin-top: -10px
        }
    }

    .user-welcome-id {
        background: rgba($color: #326D8F, $alpha: 0.74);
        margin: 0 -24px;
        color: #fff;

        padding: 1.5rem 2rem;
        text-align: center;
        font-size: 2rem;
        margin-top: 3.5rem;
        font-weight: 400;
        line-height: 1.1;

        .userid {
            font-size: 3rem;
            font-weight: 700;
        }
    }

    .btn-area {
        margin-top: 4rem;
    }
}


.check-userid {
    background: rgba($color: #326D8F, $alpha: 0.74);
    margin: 0 -24px;
    color: #fff;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    padding: 1.6rem 2.4rem;

    strong {
        font-weight: 700;
    }
}


.modal-agreement {
    position: relative;

    .btn-close-modal {
        position: absolute;
        right: 13px;
        top: 13px;
        width: 48px;
        height: 48px;
        background: url('../images/ic_close_modal.svg') no-repeat center;
    }

    .agreement-text {
        margin-top: 4rem;
        font-size: 1.4rem;
        color: #555555;
        text-align: left;
        overflow: auto;
        height: calc(100vh - 260px);
        word-break: keep-all;

        &--policy {
            letter-spacing: -0.04em;

            .tit1 {
                font-size: 1.6rem;
            }
            

            .txt{
                 letter-spacing: -0.04em;
            }
             ul {
                  li {
                       margin-top: 10px;
                       color:#707070
                  }
             }
        }

        
    }

    .tit1 {
        font-size: 1.8rem;
        font-weight: 700;
        display: block;
        color: #333333;

        &:not(:nth-of-type(1)) {
            margin-top: 2rem;
        }
    }

    .tit2 {
        font-size: 1.4rem;
        font-weight: 700;
        color: #555;
        margin-top: 2rem
    }

    .txt {
        margin-top: 2rem;
    }
}

.notice {


    &--list {
        li {
            border-bottom: 1px solid rgba($color: #707070, $alpha: 0.2);
            @include squareB;
            letter-spacing: -0.04em;
            font-size: 1.6rem;

            &:first-child {
                border-top: 1px solid rgba($color: #707070, $alpha: 0.2);
            }

            a {
                display: block;
                padding: 2rem 1.5rem 2rem 0.8rem;
            }
        }
    }

    &--view {
        .title-area {
            padding: 2rem 1.5rem 2rem 0.8rem;
            border-bottom: 1px solid rgba($color: #707070, $alpha: 0.2);
            border-top: 1px solid rgba($color: #707070, $alpha: 0.2);

        }

        .content-area {
            color: #555555;
            font-size: 1.6rem;
            @include squareR;
            padding: 2.4rem 0.8rem;
            line-height: 1.6;
            border-bottom: 1px solid rgba($color: #707070, $alpha: 0.2);

            p {
                &:not(:first-child) {
                    margin-top: 2rem;
                }
            }
        }
    }


    .title {
        color: #333333;
        word-break: keep-all;
    }

    .date {
        font-size: 1.4rem;
        color: #B9B9B9;
        margin-top: 10px;
    }

    .attached-files {
        color: rgba($color: #707070, $alpha: 0.64);
        position: relative;
        margin-top: 8rem;

        .label {
            padding-left: 14px;
            position: relative;

            &::before {
                content: '';
                width: 8px;
                height: 16px;
                background: url('../images/ic_attach.svg') no-repeat center;
                position: absolute;
                left: 0;
                top: 1px;
            }
        }

        a {
            color: rgba($color: #707070, $alpha: 0.64);
        }
    }
}



.ceo-greeting {

    .greeting-title {
        text-align: center;
        font-size: 1.4rem;
        color: #555555;
        font-weight: 600;
        margin-top: 2rem;
    }

    .greeting-title-big {
        color: #097DB6;
        text-align: center;
        font-weight: 600;
        font-size: 2.1rem;
        font-stretch: condensed;
        transform: scale(.9, 1);
        margin-top: 2.7rem;
        padding-bottom: 3.5rem;
    }

    .txt {
        font-stretch: 1.4rem;
        font-weight: 400;
        line-height: 1.6;

        margin-bottom: 3rem;
    }


}


.business {
    letter-spacing: -0.04em;

    .fields-list {
        background: #F4F4F4;
        padding: 15px 16px 15px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px -24px 0 -24px;



        .field-item {

            .icon {
                width: 53px;
                height: 53px;
                border-radius: 100%;
                border: 4px solid #B1CBD0;
                display: block;
                @include push--auto;

                background-repeat: no-repeat;
                background-position: center;

                &01 {
                    background-image: url('../images/biz_field_01_off.svg');
                }

                &02 {
                    background-image: url('../images/biz_field_02_off.svg');
                }

                &03 {
                    background-image: url('../images/biz_field_03_off.svg');
                }
            }

            &.selected {

                .icon {
                    background-color: #41A39F;
                    border-color: #41A39F;

                    &01 {
                        background-image: url('../images/biz_field_01_on.svg');
                    }

                    &02 {
                        background-image: url('../images/biz_field_02_on.svg');
                    }

                    &03 {
                        background-image: url('../images/biz_field_03_on.svg');
                    }
                }

                strong {
                    color: #41A39F;
                    font-weight: 700;
                }
            }

            strong {
                display: block;
                font-size: 1.3rem;
                font-weight: 400;
                ;
                margin-top: 6px;
            }
        }
    }
}


.bizdata {
    .item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 3rem;

        .icon {
            width: 89px
        }


        .text {
            width: calc(100% - 89px);
            padding-left: 11px;

            .title04 {
                padding-bottom: 5px;
            }
        }
    }
}