@charset "UTF-8";

/* COLOR SET*/
.col-blue {color: #1A5DAC; font-style:oblique;}
.col-red {color: #e22f26; font-style:oblique;}
.col-black {color: #222; }
/* RESET */
* {-webkit-box-sizing: border-box; box-sizing: border-box; }
html {-webkit-text-size-adjust: antialiased; line-height: 1.3; -webkit-text-size-adjust: 100%; -moz-osx-font-smoothing: grayscale; font-size: 62.5%; height: 100%; }
html body {background-color: transparent; font-family: "Noto Sans KR", arial, "Malgun Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-higlight-color: rgba(0, 0, 0, 0); 
    overflow-x: hidden; 
    font-weight: 400; font-size: 1.6rem; letter-spacing: -0.4px; color: #333; 
    height: calc(var(--vh, 1vh) * 100);
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, input {margin: 0; padding: 0; -webkit-text-size-adjust: none; word-break: break-all; font-weight: normal; font-family: inherit; }
input, button, select, textarea {font-family: inherit; font-weight: 400; background-color:#fff; }
input, textarea { border-radius: 0; resize: none; background: transparent; -webkit-transition: 0.3s; transition: 0.3s; background-color: #fff !important; color: #222; padding-left: 10px; font-size: 14px !important; border: 1px solid #ccc; }
caption, legend {font-size: 0; line-height: 0; text-indent: -9999px; }
img, fieldset, iframe {border: 0 none; vertical-align: top; }
img {max-width: 100%; image-rendering: auto; image-rendering: crisp-edges; image-rendering: -webkit-optimize-contrast; }
fieldset {font-size: 0; }
ul, ol {list-style: none; }
a {color: #444; text-decoration: none; }
i, em, address {font-style: normal; }
table {border-collapse: collapse; border-spacing: 0; table-layout: fixed; }
hr {display: none; }
h1, h2, h3, h4, h5, h6 {font-weight: 400; }

/* PLACEHOLDER */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #B9B9B9; }
input::-moz-placeholder, textarea::-moz-placeholder {color: #B9B9B9; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #B9B9B9; }
input::-ms-input-placeholder, textarea::-ms-input-placeholder {color: #B9B9B9; }
input::placeholder, textarea::placeholder {color: #B9B9B9; }

input:-moz-read-only, textarea:-moz-read-only {border-color: #e6e6e6; color: #767676; }
input:read-only, 
textarea:read-only {border-color: #e6e6e6; color: #767676; }

input:focus, textarea:focus {border-color: #ccc !important; color: #222 !important; font-size: 14px !important; }
input.invalid, textarea.invalid {border-color: #FF533C !important; }

input:disabled, textarea:disabled {border-color: #e6e6e6; color: #ccc; }
input:disabled::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder {color: #ccc; }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {-webkit-box-shadow: 0 0 0 30px white inset !important; box-shadow: 0 0 0 30px white inset !important; }
/* IE+10 포커스 X버튼삭제  */
input[type=text]::-ms-clear {display: none; width: 0; height: 0; }
input[type=text]::-ms-reveal {display: none; width: 0; height: 0; }
/* INPUT[TYPE="NUMBER"] 증감버튼 삭제 & FIREFOX textfield 레이아웃 */
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0; }
/* MOZ INPUT[TYPE="NUMBER"] 텍스트필드로 표시*/
input[type=number] {-moz-appearance: textfield; }

select {-webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url("../images/selectbox_arrow.svg"); background-repeat: no-repeat; background-position: calc(100% - 18px) center; border: 1px solid #ccc; border-radius: 4px; height: 48px; line-height: 48px; padding-left: 12px; width: 100%; font-size: 14px; color: #555555; padding-right: 30px;}
select:disabled {border-color: #e6e6e6; color: #ccc; background-image: url("../images/selectbox_arrow.svg"); }
select::-ms-expand {display: none; }

button, 
html [type="button"], 
[type="reset"], 
[type="submit"] {-webkit-appearance: button; }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none; padding: 0; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText; }
input[type="text"], input[type="password"],
input[type="tel"], input[type="email"],
input[type="number"],
input[type="data"] {width: 100%; height: 48px; font-size: 16px; padding: 0 0 0 20px; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 4px; }

button {padding: 0; margin: 0; border: 0; cursor: pointer; vertical-align: middle; background: transparent; }
button, select {text-transform: none; }

input, textarea, select { background-color:#fff !important; }

// a[class^="btn"], 
// input[class^="btn"] {display: block; }

/* 
    FOCUSING
    select:focus, select:focus-visible, 
    input:focus, input:focus-visible, 
    textarea:focus-visible {outline: none; }
*/

/* SKIP TO CONTENT  */
.skip a {position: absolute; left: -3222%; }
.skip a:focus {display: inline-block; top: 0; left: 0; z-index: 9999; width: 50%; height: 30px; background: #222; line-height: 30px; color: #fff; text-align: center; }


/* IR */
.blind {position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; }
.hidden {clear: both; height: 0; line-height: 0; width: 0; position: absolute; top: -9999px; left: -9999px; }

/* ALIGN */
.ac {text-align: center !important; }
.al {text-align: left; }
.ar {text-align: right; }



.pc-only {display: none !important;}
.m-only {display: block !important;}

@include mq('min', 'tablet') { 
    .pc-only {display: block !important; }
    .m-only {display: none !important; }
}

/* MARGIN */
.mt-0 {margin-top: 0 !important; }
.mt-10{ margin-top:1rem}
.mt-15{ margin-top: 1.5rem;}
.mt-20{ margin-top:2rem !important}
.mt-25{ margin-top:2.5rem}
.mt-30{ margin-top:3rem}
.mt-40{ margin-top:4rem !important}
.mt-50{ margin-top:5rem}
.mt-60{ margin-top:6rem}
.mt-70{ margin-top:7rem}
.mt-80{ margin-top:8rem}
.mt-90{ margin-top:9rem}
.mt-100{ margin-top:10rem}
.mt-110{ margin-top:11rem}
.mt-120{ margin-top:12rem}
.mt-130{ margin-top:13rem}
.mt-140{ margin-top:14rem}
.mt-150{ margin-top:15rem}
